*.backup
Icons/SE98/template
*.kra
names
sizes
README.old.md
*.bz2
SE98/places/48/fssort.ini
*.xz
mdtables.sh
sizes_folder
names_folder
SE98/fix_ln.awk
panel_sizes
SE98/icon-theme.cache
SE98/.icon-theme.cache
